PROJECT_NAME="Zombie Run Cost Killer"
VERSION=1.0.0
API_V1_STR=/api/v1
POSTGRES_SERVER=localhost
POSTGRES_USER=trainpilot
POSTGRES_PASSWORD=trainpilot_secret_pass
POSTGRES_DB=trainpilot_db
POSTGRES_PORT=5432
STORAGE_BASE_DIR=./storage
DEFAULT_OUTPUT_FOLDER=./storage/outputs
DEFAULT_CHECKPOINT_FOLDER=./storage/checkpoints
